Repository SpinlockLabs/github.dart, pull requests merged in 2023-02, with the labels that each got.

#350 Update package version
  pubspec.yaml
Labels: unreleased

#351 Expose CheckSuitesService and ChuckRunsService classes
  .github/workflows/tests.yml
  CHANGELOG.md
  analysis_options.yaml
  example/release_notes.dart
  example/stars.dart
  lib/src/common/activity_service.dart
  lib/src/common/authorizations_service.dart
  lib/src/common/checks_service.dart
  lib/src/common/gists_service.dart
  lib/src/common/git_service.dart
  lib/src/common/github.dart
  lib/src/common/issues_service.dart
  lib/src/common/misc_service.dart
  lib/src/common/model/users.dart
  lib/src/common/orgs_service.dart
  lib/src/common/pulls_service.dart
  lib/src/common/repos_service.dart
  lib/src/common/search_service.dart
  lib/src/common/users_service.dart
  lib/src/common/util/oauth2.dart
  pubspec.yaml
  test/assets/responses/nocked_responses.dart
  test/common/github_test.dart
  test/experiment/error_handling.dart
  test/git_test.dart
  test/scenarios_test.dart
  test/unit/issues_test.dart
  tool/release_unreleased_prs.dart
Labels: semver:minor, no_release_on_merge, unreleased

#352 Add required UserAgent HTTP header
  CHANGELOG.md
  lib/src/common/github.dart
  pubspec.yaml
  test/common/github_test.dart
Labels: semver:minor, unreleased

#354 [actions] Use pub.dev release process
  .github/workflows/publish_release.yml
Labels: no_release_on_merge
